<h1 class="text-center products-page-title mt-5">Incoming Requests</h1>
<div class="container d-flex justify-content-center mt-4 p-4">
  <% @requests_per_offer.each do |offer, requests| %>
    <% unless requests.all? { |request| request.status == "rejected" } %>
    <% end %>
    <% requests.each do |request| %>
      <% unless request.status == "rejected" %>
        <% if request.user != current_user %>
          <div class="card lessors-card mb-3">
            <div class="row g-0">
              <div class="col-md-6">
                <% if request.offer.photo.key.present? %>
                  <%= cl_image_tag request.offer.photo.key, width: "300px", class: "img-fluid rounded-start" %>
                <% end %>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= request.offer.item_name %>
                  </h5>
                  <p>Renter: <%= request.user.first_name %></p>
                  <p>Requested Dates: <%= request.start_date.strftime("%b %d, %Y") %> to <%= request.end_date.strftime("%b %d, %Y") %></p>
                  <p> Status:  <%= request.status %></p>
                  <% if request.status == "pending" %>
                    <span class="d-flex">
                      <%= simple_form_for [:lessor, request] do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                        <%= f.submit "Accept", class: "btn btn-info mx-3" %>
                      <% end %>
                      <%= simple_form_for [:lessor, request] do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: "rejected" } %>
                        <%= f.submit "Reject", class: "btn btn-light" %>
                      <% end %>
                    </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
