<h1 class = "text-center rental-title mb-3 mt-3 request" id = "rental-requests">Outgoing Requests</h1>
<%# <div class = "my-offers"> %>
<div class="text-center">
  <% if @requests.empty? %>
    <p>You haven't made any requests yet.</p>
  <% else %>
  </div>
  <% @requests&.each do |request| %>
    <div class=" container-sm d-flex justify-content-center flex-column mt-4 p-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <% if request.offer.photo.key.present? %>
              <%= cl_image_tag request.offer.photo.key, width: "300px", class: "img-fluid rounded-start" %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">
                <%= request.offer.item_name %>
              </h5>
              <p class="card-text">
                <% if request.start_date %>
                  <div class = "margin-li">Total price: <%= number_to_currency(((request.end_date - request.start_date) / 86400) * request.offer.rate, { unit: "¥", precision: 0 }) %></div>
                  <div class = "margin-li">Rental period: <%= request.start_date.strftime("%b %d, %Y") %> to <%= request.end_date.strftime("%b %d, %Y") %></div>
                <% end %>
              </p>
              <p class="card-text">
                <small class="text-muted">
                  Status: <%= request.status %>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
