<div class="banner position-relative" style="background-image: url('<%= path_to_image("banner_babyloop.png") %>')">
  <div class="container">
    <h1>Rent With Us</h1>
    <p>Baby Gear and More</p>
    <a href="#" class = "banner-button">Rent Now</a>
    </div>
  </div>
</div>

<div class = "our-products">
  <h1>Our Products</h1>
    <p>We deliver boxes of fantastic, clothes, furniture items and toys hand picked by you!</p>
</div>

<div class = "rent-now-midsection">
  <h1 class = "mid-section-title">RENT NOW...</h1>
</div>

<div class="row centered">
    <div class="col">
  <%= image_tag "crib.jpg", class: "main-page-product" %></div>
    <div class="col mid-button"><a href="#" class = "button">Rent Now</a></div>
</div>

<div class = "carousel-products">
<div class="row row-cols-12 row-cols-md-4">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer) do %>
    <div class = "col">
        <div class="card background">
          <% if offer.photo.attached? %>
            <%= cl_image_tag offer.photo.key, class: "card-image-top" %>
          <% else %>
          <%= image_tag "blockset.jpg", class: "card-image-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title product"><%= offer.item_name %></h5>
            <p class="card-text product-text"> <%= number_to_currency(offer.rate, {unit: '¥', precision: 0}) %>/day</p>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<h1 class = "baby-section-title">BABY LOOP...</h1>
  <div class="row centered row-cols-md-3">
    <div class = "col">
      <ul >
        <li class = "categories">Baby & Toddler Toys</li>
        <li class = "categories">Building Toys</li>
        <li class = "categories">Arts & Crafts Toy</li>
        <li class = "categories">Nursery Furniture</li>
        <li class = "categories">Clothes</li>
        <li class = "categories">Shoes</li>
      </ul>
  <a href="#" class = "button view-more-button">View More</a>
  </div>
<div class="col">
  <%= image_tag "duck.jpg", class: "categories-product" %>
  </div>
</div>
