<div class="banner position-relative" style="background-image: url('<%=path_to_image('banner_babyloop.png')%>')">
  <div class="container">
    <h1>Rent With Us</h1>
    <p>Baby Gear and More</p>
    <a href="#" class = "banner-button">Rent Now</a>
    </div>
  </div>
</div>

<div class = "our-products">
  <h1>Our Products</h1>
    <p>We deliver boxes of fantastic, clothes, furniture items and toys hand picked by you!</p>
</div>

<div class = "rent-now-midsection">
  <h1 class = "mid-section-title">RENT NOW...</h1>
</div>

<div class="row centered">
    <div class="col">
  <%= image_tag "crib.jpg", class: "main-page-product" %></div>
    <div class="col mid-button"><a href="#" class = "button">Rent Now</a></div>
</div>

<div class = "carousel-products">
<div class="row row-cols-12 row-cols-md-4">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer) do %>
    <div class = "col">
        <div class="card background">
          <% if offer.photo.attached? %>
            <%= cl_image_tag offer.photo.key, class: "card-image-top" %>
          <% else %>
          <%= image_tag "blockset.jpg", class: "card-image-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title product"><%= offer.item_name %></h5>
            <p class="card-text product-text"> <%= offer.rate %> USD/day</p>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<h1 class = "baby-section-title">BABY LOOP...</h1>
  <div class="row centered row-cols-md-3">
    <div class = "col">
      <ul >
        <li class = "categories">Baby & Toddler Toys</li>
        <li class = "categories">Building Toys</li>
        <li class = "categories">Arts & Crafts Toy</li>
        <li class = "categories">Nursery Furniture</li>
        <li class = "categories">Clothes</li>
        <li class = "categories">Shoes</li>
      </ul>
  <a href="#" class = "button view-more-button">View More</a>
  </div>
<div class="col">
  <%= image_tag "duck.jpg", class: "categories-product" %>
  </div>
</div>


<h1 class = "text-center mb-3 mt-3 offer"> My Offers</h1>
<div class = "my-offers">
  <div class="text-center">
    <% if @offers.empty? %>
      <p>You don't have any listings yet.</p>
    <% else %>
  </div>
    <% @offers&.each do |offer| %>
    <div class = "col d-flex justify-content-center">
      <div class="card w-50 shadow p-3 mb-3 offers-rental-card">
        <div class="card-body">
          <h5 class="card-title"><%= offer.item_name %></h5>
          <ul class="card-text">
            <li><%= offer.category %></li>
            <li>Price: <%= offer.rate %> USD / daily rate </li>
            <li><%= offer.description %></li>
          </ul>
          <a href="#" class="button-edit">Edit</a>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<h1 class = "text-center rental-title mb-3 mt-3 request" id = "rental-requests">Rental Requests</h1>
<div class = "my-offers">
  <div class="text-center">
    <% if @requests.empty? %>
      <p>You haven't made any requests yet.</p>
    <% else %>
  </div>
    <% @requests&.each do |request| %>
    <div class = "col d-flex justify-content-center">
      <div class="card w-50 shadow p-3  mb-3 offers-rental-card">
        <div class="card-body">
          <h5 class="card-title"><%= request.offer.item_name %></h5>
          <ul class="card-text">
            <li>Total price: <%= ((request.end_date - request.start_date) / 86400) * request.offer.rate %> USD</li>
            <li>Rental period: <%= request.start_date.strftime("%b %d, %Y") %> to <%= request.end_date.strftime("%b %d, %Y") %></li>
            <li>Status: <%= request.status %></li>
          </ul>
          <%# <a href="#" class="button-accept">Accepted</a>
          <a href="#" class="button-decline">Declined</a> %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
