<div class = "container mb-3">
  <div class = "row justify-content-center">
    <div class = "col-md-6">
      <%= simple_form_for(@offer) do |f| %>
        <%= f.input :item_name %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :rate %>
        <%= f.input :address %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Update my offer", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
