<div class = "container-lg mb-5 mt-5">
  <h1 class = "text-center products-page-title">Baby Loop Gear </h1>
  <% # Search bar %>
  <div class="row justify-content-center">
    <div class="col">
      <%= form_with url: offers_path, method: :get, class: "d-flex my-3" do %>
        <%= text_field_tag :query,
                     params[:query],
                     class: "form-control mx-3 font-weight-light",
                     placeholder: "Search for a category, product or location..." %>
        <%= submit_tag "Search", class: "search-button" %>
      <% end %>
    </div>
  </div>
  <div class="row d-flex">
    <% @offers.each do |offer| %>
      <div class = "col-sm-3">
        <%= link_to offer_path(offer) do %>
          <div class="card product-card mb-3 mt-3 shadow">
            <% if offer.photo.attached? %>
              <%= cl_image_tag offer.photo.key, class: "card-image-top products-page-image d-flex" %>
            <% else %>
              <%= image_tag "blockset.jpg", class: "card-image-top" %>
            <% end %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title products-text-title"><%= offer.item_name %></h5>
              <div class = "address-price">
                <p  ><%= offer.address %></p>
                <p class = "price"> <%= number_to_currency(offer.rate, { unit: "¥", precision: 0 }) %>/day</p>
              </div>
              <% if offer.rating.present? %>
                <p class = "card-text products-text">Rating:<% offer.rating.to_i.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %></p>
              <% else %>
                <p class = "card-text products-text">N/A</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
