<div class = "container-lg mb-5 mt-5">
<h1 class = "text-center products-page-title">Baby Loop Gear </h1>
<div class="row pt-5 row-cols-12 row-cols-md-4 d-flex align-items-stretch">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer) do %>
    <div class = "col">
        <div class="card product-card mb-3 mt-3 shadow">
          <% if offer.photo.attached? %>
            <%= cl_image_tag offer.photo.key, class: "card-image-top products-page-image d-flex" %>
          <% else %>
          <%= image_tag "blockset.jpg", class: "card-image-top" %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title products-text"><%= offer.item_name %></h5>
            <p class="card-text products-text"> <%= number_to_currency(offer.rate, { unit: "¥", precision: 0 }) %>/day</p>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
