<h1 class = "mb-3 mt-3 text-center offer"> My Offers</h1>
<div class = "container mb-3">
  <div class = "row justify-content-center">
    <div class = "col-md-6">
      <%= simple_form_for(@offer) do |f| %>
        <%= f.input :item_name %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :rate %>
        <%= f.input :address %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Submit my offer", class: "button mb-5" %>
      <% end %>
    </div>
  </div>
  <section>
    <div class="row justify-content-center">
      <% @offers&.each do |offer| %>
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm offers-rental-card">
            <div class="row no-gutters p-3 ">
              <div class="col-md-4">
                <div class="bg-image">
                  <% if offer&.photo&.key %>
                    <%= cl_image_tag offer.photo.key, height: 200, width: 200 %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <ul class="text-truncate mb-4 mb-md-0">
                    <h5 class="card-title"><%= offer.item_name %></h5>
                    <li class="margin-li">Category: <%= offer.category %></li>
                    <li class="margin-li">Price: <%= number_to_currency(offer.rate, { unit: "¥", precision: 0 }) %>/day </li>
                    <li class="margin-li">Description: <%= offer.description[0..45] %> </li>
                    <li class="margin-li">Address: <%= offer.address %> </li>
                  </ul>
                  <%= link_to "Delete", offer_path(offer), class: "button-decline ms-4", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                  <%= link_to "Edit", edit_offer_path(offer), class: "button-edit"  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
