<h1 class = "mb-3 mt-3 text-center offer"> My Offers</h1>
<div class = "container mb-3">
  <div class = "row justify-content-center">
    <div class = "col-md-6">
      <%= simple_form_for(@offer) do |f| %>
        <%= f.input :item_name %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :rate %>
        <%= f.input :address %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Submit my offer", class: "button mb-5" %>
      <% end %>
    </div>
  </div>
  <% @offers&.each do |offer| %>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-parent="#selector" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="card-title"><%= offer.item_name %></h5>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body row">
            <div class="col-sm-4 accordion-img">
              <% if offer&.photo&.key %>
                <%= cl_image_tag offer.photo.key%>
              <% end %>
            </div>
            <div class="col-sm-4 col-sm-6 col-md-6">
              <ul class="mb-4 mb-md-0">
                <li class="margin-li">Category: <%= offer.category %></li>
                <li class="margin-li">Price: <%= number_to_currency(offer.rate, { unit: "¥", precision: 0 }) %>/day </li>
                <li class="margin-li">Description: <%= offer.description[0..45] %> </li>
                <li class="margin-li">Address: <%= offer.address %> </li>
              </ul>
              <div class = "col accordion-btn">
                <%= link_to "Delete", offer_path(offer), class: "button-decline ms-4", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                <%= link_to "Edit", edit_offer_path(offer), class: "button-edit"  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
