<div class="container pt-4">
  <div class="row">
    <div class="col md-6 text-center">
      <h2 class= "offers-title"><%= @offer.item_name %></h2>
      <% if @offer.photo.attached? %>
        <%= cl_image_tag @offer.photo.key, class: "offers-image" %>
      <% else %>
        <%= image_tag "blockset.jpg", class: "offers-image" %>
      <% end %>
      <p>Category: <%= @offer.category %></p>
      <p>Description: <%= @offer.description %></p>
      <p>Price: $<%= @offer.rate %></p>
    </div>

    <div class="col md-6 map-padding">
      <div style="width: 400px; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>



<div class="container-md">
  <%= simple_form_for [@offer, @request] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.button :submit, class: "button" %>
  <% end %>
</div>

<%# GEOCODE MAP %>


<% # These are links that will only be available to those who created the offer, uncomment if you want these %>

<%# <div> %>
<%# <% if policy(@offer).edit? %>
  <%# <%= link_to "Edit this offer", edit_offer_path(@offer) %>
<%# <% end %>

<%# <% if policy(@offer).destroy? %>
  <%# <%= button_to "Delete this offer", @offer, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# <% end %>
<%# </div> %>


<% # WILL LATER REPLACE SIMPLE FORM ABOVE %>

<% # <%= form_with model: Request.new, authenticity_token: true do |f| %>
  <% # <%= f.text_field :date, %>
    <% # data: { %>
      <% # controller: "flatpickr", %>
      <% # flatpickr_date_format: "D j, Y", %>
      <% # flatpickr_min_date: Time.zone.now, %>
      <% # flatpickr_inline: true, %>
      <% # flatpickr_mode: "range" %>
    <% # } %>
<% # <% end %>
