<div class="container pt-4">
  <div class="col-md-6 text-center mx-auto">
    <h1 class= "offers-title"><%= @offer.item_name %></h1>
    <% if @offer.photo.attached? %>
      <%= cl_image_tag @offer.photo.key, class: "img-fluid rounded shadow-sm", height: 350, width: 300 %>
    <% else %>
      <%= image_tag "blockset.jpg", class: "img-fluid rounded shadow-sm", height: 250, width: 200 %>
    <% end %>
    <div class = "offers-text">
      <ul>
        <li><strong>Category</strong>: <%= @offer.category %></li>
        <br>
        <li><strong>Description</strong>: <%= @offer.description %></li>
        <br>
        <li><strong>Location</strong>:  <%= @offer.address %></li>
        <br>
        <li><strong>Price</strong>: <%= number_to_currency(@offer.rate, { unit: "¥", precision: 0 }) %>/day</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 mx-auto rounded">
    <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>
  </div>
  <div class="col-md-6 mx-auto">
    <%= simple_form_for [@offer, @request] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  </div>
</div>
